<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.master.gallywix.mapper.CustomFieldTemplateMapper">

    <select id="getLastOrder" resultType="java.lang.Long">
        select `order` from custom_field_template where template_id = #{templateId}
        <if test="baseOrder != null">
            and `order` &gt; #{baseOrder}
        </if>
        order by `order` desc limit 1;
    </select>
</mapper>
